@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800");

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #4fc3f7;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --primary: #00ADA2;
    --secondary: #8898aa;
    --success: #2dce89;
    --info: #2962ff;
    --warning: #fb6340;
    --danger: #f62d51;
    --light: #f6f9fc;
    --dark: #32325d;
    --cyan: #4fc3f7;
    --orange: #fb6340;
    --purple: #5e72e4;
    --inverse: #32325d;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xlg: 1600px;
    --font-family-sans-serif: "Nunito Sans", sans-serif;
}

body{
    font-family: "Nunito Sans", sans-serif !important;
    margin:0;
    padding:0;
    height:100%;
    background-color: #F8F8F8;
}
html, #root{
    height:100%;
}

button:hover {
    background-color: #057f78 !important;
}
#buttonBack:hover{
    background-color:'wheat'
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.preview-box {
    display:flex;
    align-items:center;
    width: calc(100% - 30px);
    padding: 10px 3%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
  }
   
  .preview-box img {
    max-height: 80px;
    max-width: 80px;
    border-radius: 4px;
    margin-right: 10px;
  }
   
  .preview-box .name {
    font-style: italic;
    color: #666;
    margin-right: 7px;
  }
   
  .preview-box .percent {
    font-weight: 600;
  }
   
  .preview-box .status {
    margin-left: 7px;
    font-weight: 600;
    text-transform: uppercase;
  }